@charset "UTF-8";

body{
    background-color: #959BE6;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: #4F58E0;
}

#principal{
    text-align: center;
    background-color: #3F4161;
    color: white;
}
h2{
    color: #222661;
}

.basico{
    color: rgb(65, 146, 65);
}

.intermediario{
    color: rgb(253, 253, 75);
}

.avancado{
    color: rgb(255, 84, 84);
}

.destaque{
    background-color: #e2e25273;
}