@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
/*
font-family: 'Passion One', cursive;
font-family: 'Sriracha', cursive;
*/

*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}
html, body{
    min-height: 100vh;
}
header{
    background-color: black;
    text-align: center;
    color: white;
    padding-top: 50px;
    padding: 50px;
}
header > h1{
    font-family: 'Passion One', cursive;
    font-size: 70px;
}
header > p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 50px;
}
p > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
p > a:hover{
    text-decoration: underline;
}
.inicial{
    font-size: 100px;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
section > p{
    padding-bottom: 2em;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-family: 'Sriracha', cursive;
    padding-left: 30px;
    line-height: 2em;
    font-family: 'Sriracha', cursive;
    font-size: 3.5vw;
}
#img01{
    background-image: url(imagens/background001.jpg);
    background-position: right center;
}
.foto01{
    box-shadow: inset 5px 5px 100px rgba(0, 0, 0, 0.384);
    color: white;
    background-size: cover;
    background-attachment: fixed;
    padding-left: 30px;
    padding-top: 100px;
}
.foto01 > p{
    padding-left: 8px;
    background-color: rgba(0, 0, 0, 0.418);
    width: 400px;
    height: 400px;
}
#img02{
    background-image: url(imagens/background002.jpg);
}
.foto02{
    box-shadow: inset 5px 5px 100px rgba(0, 0, 0, 0.384);
    color: white;
    background-attachment: fixed;
    background-size: cover;
    padding-left: 30px;
    padding-top: 30px;
}
.foto02 > p{
    background-color: rgba(0, 0, 0, 0.568);
    height: 400px;
    width: 400px;
    padding-left: 8px;
}
footer{
    color: white;
    background: black;
    text-align: center;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px
}