*{
    padding: 0px;
    margin: 0px;
}

header > div{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 30px;
    font-size: small;
}
a{
    text-decoration: none;
    color: black;
}
div > a{
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-right: 20px;
}
nav > a{
    font-size: 20px;
    max-width: 500px;
    font-weight: bol;
    display: inline-block;
    padding: 5px;
    padding-bottom: 0px;
}
nav > a{
    position: relative;
    top: -30px;
    left: 100px;
}
.app img{
    width: 30px;
}
.app{
    position: absolute;
    top: 2.5%;
    left: 57.3%;
}
.tapp{
    padding-left: 30px;
}
.mcLogo img{
    width: 110px;
    max-width: 500px;
}
.mcLogo{
    position: absolute;
    top: 10px;
    left: 9%;
    top: 2%;
}
.box{
    display: inline-block;
    background-color: #ffc52e;
    height: 45px;
    width: 200px;
    border-radius: 4px;
}
.box{
    position: relative;
    left: 110px;
    top: -15px;
}
.box > a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    position: relative;
    bottom: -25%;
}
.box > img{
    width: 10px;
}
#n1{
    height: 50vh;
    background-image: url(592_3_1_banner_home_1440x650_cb1d3e6863.png);
    background-size: cover;
}
.textLogo{
    position: absolute;
    top: 33px;
    left: 60%;
}
.dica{
    position: relative;
    left: 57%;
    bottom: -52%;
}
.dica{
    color: rgb(41, 41, 41);
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}
.subdica{
    font-family: Arial, Helvetica, sans-serif;
}
.subdica{
    position: relative;
    left: 60%;
    bottom: -51%;
}
.box2{
    color: rgba(0, 0, 0, 0.548);
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
    width: 100px;
    padding: 15px;
    padding-left: 30px;
    border-radius: 5px;
}
.box2{
    position: relative;
    left: 77%;
    bottom: -55%;
}
#fritas{
    width: 400px;
    padding-top: 60px;
    padding-left: 100px;
}
.foto{
    position: absolute;
}
.foto > h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding-top: 20px;
    padding-left: 100px;
}
.foto > p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 20px;
    padding-left: 100px;
}
#mf{
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}
